@charset "utf-8";
/* CSS Document */
/*规范*/
* {
	padding: 0;
	margin: 0;
	font-family: 微软雅黑;
}
body {
	background-color: #F9F9F9;
}
a {
	color: black;
	text-decoration: none;
}
a:hover {
	color: #878787;
}
a:hover,img {AA
	transition: all 0.3s;
}

/*头部*/
.header{
	width: 100%;
	height: 100px;
	font-weight: bold;
	background-color: white;
	position: fixed;
	top: 0;
}
.header table {
	margin: auto;
}
.header img {
	vertical-align: middle;
}

/*回到顶部*/
.to-top {
	width: 100px;
	height: 100px;
	background: #ECECEC;
	position: fixed;
	right: 50px;
	bottom: 50px;
	border-radius: 50px;
	transition: all 0.5s;
}
.to-top:hover {
	transform: rotate(360deg);
	background-color: white;
}
.to-top img {
	width: 50px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

/*介绍*/
.introduct {
	width: 990px;
	margin: auto;
	margin-top: 100px;
}
.introduct img {
	display: block;
}

/*页脚*/
.footer {
	background-color: #f1f1f1;
	width: 100%;
	padding: 30px 0;
	margin-top: 30px;
}
.footer table {
	margin: auto;
}
.footer img {
	width: 30px;
	display: block;
	margin: 10px;
}
.footer .title {
	font-size: 24px;
	font-weight: bold;
}
.footer .grey {
	line-height: 24px;
	font-size: 16px;
	color: #9e9e9e;
	font-weight: lighter;
	line-height: 30px;
}
.copy {
	font-weight: lighter;
	color: #999999;
}